<form method="get" action="/search/anime/genres">
    <fieldset>
        <legend>Genre</legend>
        <ul>
            <li>
                <label for="cb1"><input type="checkbox" id="cb1" 
                name="genre[]" value="Action">Action</label>
            </li>
            <li>
                <label for="cb2"><input type="checkbox" id="cb2" 
                name="genre[]" value="Adventure">Adventure</label>
            </li>
            <li>
                <label for="cb3"><input type="checkbox" id="cb3" 
                name="genre[]" value="Comedy">Comedy</label>
            </li>
            <li>
                <label for="cb4"><input type="checkbox" id="cb4" 
                name="genre[]" value="Drama">Drama</label>
            </li>
            <li>
                <label for="cb5"><input type="checkbox" id="cb5" 
                name="genre[]" value="Ecchi">Ecchi</label>
            </li>
            <li>
                <label for="cb6"><input type="checkbox" id="cb6" 
                name="genre[]" value="Fantasy">Fantasy</label>
            </li>
            <li>
                <label for="cb7"><input type="checkbox" id="cb7" 
                name="genre[]" value="Horror">Horror</label>
            </li>
            <li>
                <label for="cb8"><input type="checkbox" id="cb8" 
                name="genre[]" value="Mahou Shoujo">Mahou Shoujo</label>
            </li>        
            <li>
                <label for="cb9"><input type="checkbox" id="cb9" 
                name="genre[]" value="Mecha">Mecha</label>
            </li>
            <li>
                <label for="cb10"><input type="checkbox" id="cb10" 
                name="genre[]" value="Music">Music</label>
            </li>
            <li>
                <label for="cb11"><input type="checkbox" id="cb11" 
                name="genre[]" value="Mystery">Mystery</label>
            </li>
            <li>
                <label for="cb12"><input type="checkbox" id="cb12" 
                name="genre[]" value="Psychological">Psychological</label>
            </li>
            <li>
                <label for="cb13"><input type="checkbox" id="cb13" 
                name="genre[]" value="Romance">Romance</label>
            </li>
            <li>
                <label for="cb14"><input type="checkbox" id="cb14" 
                name="genre[]" value="Sci-Fi">Sci-Fi</label>
            </li>
            <li>
                <label for="cb15"><input type="checkbox" id="cb15" 
                name="genre[]" value="Slice of Life">Slice of Life</label>
            </li>        
            <li>
                <label for="cb16"><input type="checkbox" id="cb16" 
                name="genre[]" value="Sports">Sports</label>
            </li>
            <li>
                <label for="cb17"><input type="checkbox" id="cb17" 
                name="genre[]" value="Supernatural">Supernatural</label>
            </li>
            <li>
                <label for="cb18"><input type="checkbox" id="cb18" 
                name="genre[]" value="Thriller">Thriller</label>
            </li>
        </ul>
        <div>
            <input type="submit" value="Submit">
        </div>
    </fieldset>
</form>