<div class="title-search-wrapper">
    <ul>
        <li><input id="search-input" class="search-input" type="text" placeholder="Anime name"></li>
        <li><button id="search-btn" class="uk-btn uk-button-primary search"><i class="uk-icon-search"></i></button></li>
    </ul>
</div>