<% @search_results.each do |result| %>
    <figure class="uk-width-small-1-2 anime-item">
        <a href=<%= "/show/#{result['id']}" %>>
        <img src=<%= "#{result['image_url_lge']}" %> 
             width="300" height="300" class="anime-poster">
        <figcaption>
            <h2 class="anime-title"><%= result['title_english'] %></h2>
            <p class="anime-genres">
                <%= result['genres'].join(', ') %>
            </p>
        </figcaption>
        </a>
    </figure>
<% end %>