<!DOCTYPE html>
<html>
    <head>
        <title>Page Not Found</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/uikit.css">
        <link rel="stylesheet" href="/css/partials/header.css">
        <link rel="stylesheet" href="/css/partials/anime_title_search.css">
        <script type="text/javascript" src="/js/jquery-3.1.1.js"></script>
        <script type="text/javascript" src="/js/uikit.js"></script>
        <script type="text/javascript" src="/js/bindings.js" defer></script>
        <style>
        </style>
    </head>
    <body id="body">
        <div class="uk-container uk-container-center"
            <%= @header %>
            <%= @site_search_partial %>
            <section class="main">
              <div class="uk-width-small-4-5 uk-container-center">
                <h1>Sorry, the page you are looking for can not be found</h1>
              </div>
            </section>
            <%= @footer %>
        </div>
    </body>
</html>