<!DOCTYPE html>
<html>
    <head>
        <title>Anime Tracker</title>
        <meta charset="utf-8">
        <script type="text/javascript" src="/js/site.js"></script>
    </head>
    <body>
        <div>
            <input id="search-input" type="text" placeholder="Anime name"><br/>
            <button id="search-btn" class="uk-btn uk-button-primary search">Search</button>
        </div>
    </body>
</html>