<!DOCTYPE html>
<html>
    <head>
        <title>Anime Tracker</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/uikit.css">
        <link rel="stylesheet" href="/css/partials/anime_title_search.css">
        <script type="text/javascript" src="/js/jquery-3.1.1.js"></script>
        <script type="text/javascript" src="/js/uikit.js"></script>
        <script type="text/javascript" src="/js/bindings.js" defer></script>
        <script type="text/javascript" src="/js/index.js" defer></script>
        <style>
            * {
                box-sizing: border-box;
            }
            .uk-container {
                padding: 0;
            }
            .main .uk-container-center {
                background-color: #FFF;
            }
            .main {
                padding-top: 1.6em;
                height: 100vh;
                background-color: #f4f4f4;
            }
        </style>
    </head>
    <body id="body">
        <div class="uk-container uk-container-center"
            <%= @header %>
            <%= @site_search_partial %>
            <section class="main">
                <div class="uk-width-medium-1-2 uk-container-center">
                </div>    
            </section>
            <%= @footer %>
        </div>
    </body>
</html>