<!DOCTYPE html>
<html>
    <head>
        <title>Library</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/uikit.css">
        <link rel="stylesheet" href="/css/components/notify.css">
	    <script type="text/javascript" src="/js/jquery-3.1.1.js"></script>
        <script type="text/javascript" src="/js/uikit.js"></script>
        <script type="text/javascript" src="/js/components/notify.js"></script>
        <style>
            * {
                box-sizing: border-box;
            }
            .shelf-item {
                display: inline-block;
                vertical-align: top;
            }
        </style>
    </head>
    <body id="body">
        <%= @header %>
        <section>
           <ul class="uk-tab" data-uk-tab="{connect: '#tab-contents', animation: 'slide-horizontal'}">
               <li class="uk-active"><a href="">Library</a></li>
               <li><a href="">Activity Feed</a></li>
           </ul>
           <ul id="tab-contents" class="uk-switcher">
               <li id="library-manager">
                   <div>
                       <input type="search" v-model.trim="searchTerm" @keyup.enter="fetchLibrary">
                   </div>
                   <div class="shelf-wrapper" style="height: 500px; overflow: auto" @scroll="scrollHandler">
                       <div class="shelf">
                           <div class="uk-width-small-1-2 uk-width-large-1-4 shelf-item" v-for="animeItem in revealedEntries">
                               <library-entry :item="animeItem" :can-modify-library="isViewingOwnPage" ></library-entry>
                           </div>
                       </div>
                   </div>
               </li>
               <li id="activity-feed">
                   <div v-for="item in feed">
                       <div v-show="item.substory_type === 'watchlist_status_update'">
                           <p v-show="item.new_status === 'currently-watching'">
                               {{ username }} is currently watching <a :href="'/show/' + item.media.id">{{ item.media.title }}</a>
                           </p>
                           <p v-show="item.new_status === 'plan-to-watch'">
                               {{ username }} plans to watch <a :href="'/show/' + item.media.id">{{ item.media.title }}</a>
                           </p>
                           <p v-show="item.new_status === 'completed'">
                               {{ username }} completed <a :href="'/show/' + item.media.id">{{ item.media.title }}</a>
                           </p>
                           <p v-show="item.new_status === 'on-hold'">
                               {{ username }} has put <a :href="'/show/' + item.media.id">{{ item.media.title }}</a> on hold
                           </p>
                           <p v-show="item.new_status === 'dropped'">
                               {{ username }} has dropped <a :href="'/show/' + item.media.id">{{ item.media.title }}</a>
                           </p>
                       </div>
                       <div v-show="item.substory_type === 'watched_episode'">
                           <p>{{ username }} watched episode {{ item.episode_number }} of <a :href="'/show/' + item.media.id">{{ item.media.title}}</a></p>
                       </div>
                       <div v-show="item.substory_type === 'followed'">
                           <p>{{ username }} is now following <a :href="'/library/user/' + item.followed_user.name">{{ item.followed_user.name}}</a></p>
                       </div>
                    </div>
               </li>
            </ul>
        </section>
        <%= @footer %>
        <template type="text/x-template" id="record">
            <div>
                <div class="top-card" :style="styleObject" v-if="canModifyLibrary">
                    <button @click="incrementEpisodesWatched"><i class="uk-icon-arrow-up" title="increase episodes watched"></i></button>
                    <div class="community-rating">{{ ("" + item.anime.community_rating).substring(0, 3) }}</div>
                </div>
                <div class="top-card" :style="styleObject" v-else>
                    <div class="community-rating">{{ ("" + item.anime.community_rating).substring(0, 3) }}</div>
                </div>
                <div class="bottom-card" v-if="canModifyLibrary">
                    <div class="uk-width-medium-6-10">
                        <div class="status-tag">{{ item.status[0].toUpperCase() + item.status.slice(1).split("-").join(" ") }}</div>
                        <div class="show-title">{{ item.anime.title }}</div>
                        <div class="episodes-watched">{{ item.episodes_watched}} episodes viewed</div>
                    </div>
                    <div class="uk-width-medium-4-10">
                        <div>
                            <button class="uk-button" @click="ratePositive"><i class="uk-icon-thumbs-up" title="like"></i></button>
                            <button class="uk-button" @click="rateNeutral"><i class="uk-icon-thumbs-up" title="neutral"></i></button>
                            <button class="uk-button" @click="rateNegative"><i class="uk-icon-thumbs-down" title="dislike"></i></button>
                            <div style="position: relative" data-uk-dropdown="{mode: 'click'}">
                                <button class="uk-button">Add To</button>
                                <ul class="uk-dropdown entry-status" @click="hideDropdown">
                                    <li class="status-item" @click="updateStatus('currently-watching')">Currently watching</li>
                                    <li class="status-item" @click="updateStatus('plan-to-watch')">Plan to watch</li>
                                    <li class="status-item" @click="updateStatus('completed')">Completed</li>
                                    <li class="status-item" @click="updateStatus('on-hold')">On hold</li>
                                    <li class="status-item" @click="updateStatus('dropped')">Dropped</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bottom-card" v-else>
                    <div class="uk-width-medium-6-10">
                        <div class="status-tag">{{ item.status[0].toUpperCase() + item.status.slice(1).split("-").join(" ") }}</div>
                        <div class="show-title">{{ item.anime.title }}</div>
                        <div class="episodes-watched">{{ item.episodes_watched}} episodes viewed</div>
                    </div>
               </div>
            </div>
        </template>
        <script type="text/javascript" src="/js/vue-1.0.26.js"></script>
        <script type="text/javascript" src="/js/vue-resource-1.0.0.js"></script>
        <script type="text/javascript" src="/js/library.js" defer></script>
    </body>
</html>