<!DOCTYPE html>
<html>
    <head>
        <title>Library</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/uikit.css">
        <link rel="stylesheet" href="/css/components/notify.css">
	    <script type="text/javascript" src="/js/jquery-3.1.1.js"></script>
        <script type="text/javascript" src="/js/uikit.js"></script>
        <script type="text/javascript" src="/js/components/notify.js"></script>
        <style>
            * {
                box-sizing: border-box;
            }
            .shelf-item {
                display: inline-block;
                vertical-align: top;
            }
            
            .shelf img {
                min-width: 25%;
                min-height: 200px;
                display: inline-block;
            }
            
            img:not([src]) {
                visibility: hidden;
            }
            
            /* Fixes Firefox anomaly */
            @-moz-document url-prefix() {
                img:-moz-loading {
                    visibility: hidden;
                }
            }
        </style>
    </head>
    <body id="body">
        <%= @header %>
        <section>
           <ul class="uk-tab" data-uk-tab="{connect: '#tab-contents', animation: 'slide-horizontal'}">
               <li class="uk-active"><a href="">Library</a></li>
               <li><a href="">Activity Feed</a></li>
           </ul>
           <ul id="tab-contents" class="uk-switcher">
               <li id="library-manager">
                   <div>
                       <input type="search" v-model.trim="searchTerm" @keyup.enter="displaySearchResults">
                   </div>
                   <div>
                       <ul>
                          <li>
                            <label for="watching"><input @change="handleFilterToggle" id="watching" name="filter" type="checkbox" value="watching">Watching</label>
                          </li>
                          <li>
                            <label for="on_hold"><input @change="handleFilterToggle" id="on_hold" name="filter" type="checkbox" value="on-hold">On hold</label>
                          </li>
                          <li>
                            <label for="plan_to_watch"><input @change="handleFilterToggle" id="plan_to_watch" name="filter" type="checkbox" value="plan to watch">Plan to watch</label>
                          </li>
                          <li>
                            <label for="completed"><input @change="handleFilterToggle" id="completed" name="filter" type="checkbox" value="completed">Completed</label>
                          </li>
                          <li>
                            <label for="dropped"><input @change="handleFilterToggle" id="dropped" name="filter" type="checkbox" value="dropped">Dropped</label>
                          </li>
                       </ul>
                   </div>
                   <div class="shelf-wrapper" style="height: 500px; overflow: auto" @scroll="scrollHandler">
                       <div class="shelf">
                           <div class="uk-width-small-1-2 uk-width-large-1-4 shelf-item" v-for="animeItem in visibleLibraryEntries">
                               <library-entry :item="animeItem" :can-modify-library="isViewingOwnPage"></library-entry>
                           </div>
                       </div>
                   </div>
               </li>
               <li id="activity-feed">
                   <div v-for="item in feed">
                       <div>
                           <p v-show="item.status === 'watched episode'">
                               {{ username }} finished watching episode {{ item.value }} of <a :href="'/show/' + item.id">{{ item.title }}</a>
                           </p>
                           <p v-show="item.status === 'plans to watch'">
                               {{ username }} plans to watch <a :href="'/show/' + item.id">{{ item.title }}</a>
                           </p>
                           <p v-show="item.status === 'completed'">
                               {{ username }} completed <a :href="'/show/' + item.id">{{ item.title }}</a>
                           </p>
                           <p v-show="item.status === 'paused watching'">
                               {{ username }} has put <a :href="'/show/' + item.id">{{ item.title }}</a> on hold
                           </p>
                           <p v-show="item.status === 'dropped'">
                               {{ username }} has dropped <a :href="'/show/' + item.id">{{ item.title }}</a>
                           </p>
                       </div>
                    </div>
               </li>
            </ul>
        </section>
        <%= @footer %>
        <template type="text/x-template" id="record">
            <div>
                <div class="top-card" v-if="canModifyLibrary">
                    <img :src="item.coverImage" :data-original="item.coverImage" width="470" height="710" />
                    <button @click="incrementEpisodesWatched"><i class="uk-icon-arrow-up" title="increase episodes watched"></i></button>
                    <button @click="decrementEpisodesWatched"><i class="uk-icon-arrow-down" title="decrease episodes watched"></i></button>
                    <div class="community-rating">{{ Math.floor(item.rating)  }}</div>
                </div>
                <div class="top-card" v-else>
                    <img :src="item.coverImage" :data-original="item.coverImage" width="470" height="710" />
                    <div class="community-rating">{{ Math.floor(item.rating) }}</div>
                </div>
                <div class="bottom-card" v-if="canModifyLibrary">
                    <div class="uk-width-medium-6-10">
                        <div class="status-tag">{{ item.status }}</div>
                        <div class="show-title"><a href="/show/{{ item.id }}">{{ item.title }}</a></div>
                        <div class="episodes-watched">{{ item.episodesWatched}} episodes viewed</div>
                    </div>
                    <div class="uk-width-medium-4-10">
                        <div>
                            <button class="uk-button" @click="ratePositive"><i class="uk-icon-thumbs-up" title="like"></i></button>
                            <button class="uk-button" @click="rateNeutral"><i class="uk-icon-thumbs-up" title="neutral"></i></button>
                            <button class="uk-button" @click="rateNegative"><i class="uk-icon-thumbs-down" title="dislike"></i></button>
                            <div style="position: relative" data-uk-dropdown="{mode: 'click'}">
                                <button class="uk-button">Add To</button>
                                <ul class="uk-dropdown entry-status" @click="hideDropdown">
                                    <li class="status-item" @click="updateStatus('watching')">Currently watching</li>
                                    <li class="status-item" @click="updateStatus('plan to watch')">Plan to watch</li>
                                    <li class="status-item" @click="updateStatus('completed')">Completed</li>
                                    <li class="status-item" @click="updateStatus('on-hold')">On hold</li>
                                    <li class="status-item" @click="updateStatus('dropped')">Dropped</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bottom-card" v-else>
                    <div class="uk-width-medium-6-10">
                        <div class="status-tag">{{ item.status }}</div>
                        <div class="show-title"><a href="/show/{{ item.id }}">{{ item.title }}</a></div>
                        <div class="episodes-watched">{{ item.episodesWatched}} episodes viewed</div>
                    </div>
               </div>
            </div>
        </template>
        <script type="text/javascript" src="/js/vue-1.0.26.js"></script>
        <script type="text/javascript" src="/js/vue-resource-1.0.0.js"></script>
        <script type="text/javascript" src="/js/lazyload.min.js"></script>
        <script type="text/javascript" src="/js/library.js" defer></script>
    </body>
</html>