<!DOCTYPE html>
<html>
    <head>
        <title>Library</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/uikit.css">
        <script type="text/javascript" src="/js/jquery-3.1.1.js"></script>
        <script type="text/javascript" src="/js/uikit.js"></script>
        <style>
            * {
                box-sizing: border-box;
            }
            .shelf-item {
                display: inline-block;
                vertical-align: top;
            }
        </style>
    </head>
    <body id="body">
        <%= @header %>
        <section>
           <div id="activity-feed">
               <div v-for="item in feed">
                   <div v-show="item.substory_type === 'watchlist_status_update'">
                       <p v-show="item.new_status === 'currently-watching'">
                           You are currently watching <a :href="'/show/' + item.media.id">{{ item.media.title }}</a>
                       </p>
                       <p v-show="item.new_status === 'plan-to-watch'">
                           You plan to watch <a :href="'/show/' + item.media.id">{{ item.media.title }}</a>
                       </p>
                       <p v-show="item.new_status === 'completed'">
                           You have finished every episode of <a :href="'/show/' + item.media.id">{{ item.media.title }}</a>
                       </p>
                       <p v-show="item.new_status === 'on-hold'">
                           You have put watching <a :href="'/show/' + item.media.id">{{ item.media.title }}</a> on hold
                       </p>
                       <p v-show="item.new_status === 'dropped'">
                           You have dropped <a :href="'/show/' + item.media.id">{{ item.media.title }}</a>
                       </p>
                   </div>
                   <div v-show="item.substory_type === 'watched_episode'">
                       <p>You watched episode {{ item.episode_number }} of <a :href="'/show/' + item.media.id">{{ item.media.title}}</a></p>
                   </div>
                   <div v-show="item.substory_type === 'followed'">
                       <p>You are now following <a :href="item.followed_user.url">{{ item.followed_user.name}}</a></p>
                   </div>
                </div>
           </div>
           <div id="library-manager">
               <div>
                   <input type="search" v-model.trim="searchTerm" @keyup="fetchLibrary">
               </div>
               <div class="shelf-wrapper" style="height: 500px; overflow: auto" @scroll="scrollHandler">
                   <div class="shelf">
                       <div class="uk-width-small-1-2 uk-width-large-1-4 shelf-item" v-for="animeItem in revealedEntries">
                           <library-entry :item="animeItem"></library-entry>
                       </div>
                   </div>
               </div>
           </div>
        </section>
        <%= @footer %>
        <template type="text/x-template" id="record">
            <div>
                <div class="top-card" :style="styleObject">
                    <button @click="incrementEpisodesWatched"><i class="uk-icon-arrow-up" title="increase episodes watched"></i></button>
                    <div class="community-rating">{{ ("" + item.anime.community_rating).substring(0, 3) }}</div>
                </div>
                <div class="bottom-card">
                    <div class="uk-width-medium-6-10">
                        <div class="status-tag">{{ item.status[0].toUpperCase() + item.status.slice(1).split("-").join(" ") }}</div>
                        <div class="show-title">{{ item.anime.title }}</div>
                        <div class="episodes-watched">{{ item.episodes_watched}} episodes viewed</div>
                    </div>
                    <div class="uk-width-medium-4-10">
                        <div>
                            <button class="uk-button" @click="ratePositive"><i class="uk-icon-thumbs-up" title="like"></i></button>
                            <button class="uk-button" @click="rateNeutral"><i class="uk-icon-thumbs-up" title="neutral"></i></button>
                            <button class="uk-button" @click="rateNegative"><i class="uk-icon-thumbs-down" title="dislike"></i></button>
                            <div style="position: relative" data-uk-dropdown="{mode: 'click'}">
                                <button class="uk-button">Add To</button>
                                <ul class="uk-dropdown entry-status" @click="hideDropdown">
                                    <li class="status-item" @click="updateStatusToCurrentlyWatching">Currently watching</li>
                                    <li class="status-item" @click="updateStatusToPlanToWatch">Plan to watch</li>
                                    <li class="status-item" @click="updateStatusToCompleted">Completed</li>
                                    <li class="status-item" @click="updateStatusToOnHold">On hold</li>
                                    <li class="status-item" @click="updateStatusToDropped">Dropped</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </template>
        <script type="text/javascript" src="/js/vue-1.0.26.js"></script>
        <script type="text/javascript" src="/js/vue-resource-1.0.0.js"></script>
        <script type="text/javascript" src="/js/library.js" defer></script>
    </body>
</html>