<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= "#{@library_owner}'s Library - Anime Tracker" %></title>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Noto+Serif|Open+Sans" rel="stylesheet">
        <link rel="stylesheet" href="/css/uikit.css">
        <link rel="stylesheet" href="/css/components/notify.css">
        <link rel="stylesheet" href="/css/partials/header.css">
        <link rel="stylesheet" href="/css/partials/anime_title_search.css">
	    <script type="text/javascript" src="/js/jquery-3.1.1.js"></script>
        <script type="text/javascript" src="/js/uikit.js"></script>
        <script type="text/javascript" src="/js/components/notify.js"></script>
        <script type="text/javascript" src="/js/bindings.js" defer></script>
        <style>
            /*===================================
                            General
            ====================================*/
            * {
                box-sizing: border-box;
            }
            
            .container {
                padding: 0;    
            }
            
            li {
                list-style: none;    
            }
            
            .main {
                padding-top: 32px;
                background-color: #F4F4F4;
            }
            
            /*==========================================
                                Card 
            ==========================================*/
            .card {
                background-color: #FFF;
                font-family: "Open Sans", "sans-serif";
                min-height: 465px;
                padding-bottom: 16px;
            }
            
            .card-wrapper {
                padding-right: 8px;   
            }
            
            .shelf-item {
                display: inline-block;
                vertical-align: top;
                margin-bottom: 32px;
            }
            
            .episodes-watched-container {
                float: left;
            }
            
            .watch-tally-container {
                float: right;
                color: #aab8c2;
            }
            
            .card-image-container {
                width: 100%;
                height: 319px;
                display: inline-block;
                background-size: 100% 100%;
                background-repeat: no-repeat;
                background-position: center center;
            }
            
            img:not([src]) {
                visibility: hidden;
            }
            
            .bottom-card {
                padding: 0 16px;
            }
            
            .show-info-container {
                border-bottom: 1px solid #e2e2e2;
            }
            
            .status-tag {
                margin: 16px 0 24px;
            }
            
            .show-status {
                padding: 4px 8px;    
            }
            
            .complete {
                background-color: #d5eced;
            }
            
            .dropped {
                background-color: #f2d0de;
            }
            
            .on-hold {
                background-color: #fbe8dd;
            }
            
            .plan-to-watch {
               background-color: #efe6fe; 
            }
            
            .watching {
               background-color: #e6fbe8; 
            }
            
            .show-title {
                font-family: "Noto Serif", serif;    
            }
            
            button.uk-button:hover {
                background-color: transparent;
            }
            
            .voting-button-container {
                text-align: right;
                border-bottom: 1px solid #e2e2e2;
            }
            
            .thumb {
                color: #aab8c2;
                background-color: transparent;
            }
            
            .uk-icon-star:before {
                padding-right: 2px;    
            }
            
            .status-dropdown-container {
                float: right;    
            }
            
            .dropdown-trigger-button {
                color: #000;
                background-color: transparent;
            }
            
            .community-rating {
                float: left;
                padding-top: 4px;
            }
            
            .entry-removal-controls {
                border-top: 1px solid #e2e2e2;
                border-bottom: 1px solid #e2e2e2;
            }
            
            .remove-entry {
                color: #aab8c2;
                background-color: transparent;
                padding: 0;
            }
            
            .up-episode, .down-episode {
               color: #aab8c2;
               background-color: transparent;
               padding: 0;
            }
            
            .up-episode {
                margin-right: 4px;    
            }
            
            .uk-icon-eye {
                padding-right: 2px;    
            }
            
            /*=============================
                        Loading
            ==============================*/
            .spacer {
                text-align: center;
                margin-top: 32px;
            }
            
            .load-entries-button {
                width: 100%;
                font-size: 1.1em;
                padding: 8px 0;
                display: none;
            }
            
            .uk-icon-plus-circle {
                padding-right: 2px;
            }
            
            /* Fixes Firefox anomaly */
            @-moz-document url-prefix() {
                img:-moz-loading {
                    visibility: hidden;
                }
            }
        </style>
    </head>
    <body id="body" class="library-page">
        <div class="uk-container uk-container-center container">
        <%= @header %>
        <%= @title_search_partial%>
        <div class="main">
            <div class="uk-width-small-4-5 uk-container-center">
                <ul class="uk-tab" data-uk-tab="{connect: '#tab-contents', animation: 'slide-horizontal'}">
                   <li class="uk-active"><a href="">Library</a></li>
                   <li><a href="">Activity Feed</a></li>
                </ul>
                <ul id="tab-contents" class="uk-switcher">
                   <li id="library-manager">
                       <div>
                           <ul>
                              <li>
                                <label for="watching"><input @change="handleFilterToggle" id="watching" name="filter" type="checkbox" value="watching">Watching</label>
                              </li>
                              <li>
                                <label for="on_hold"><input @change="handleFilterToggle" id="on_hold" name="filter" type="checkbox" value="on-hold">On hold</label>
                              </li>
                              <li>
                                <label for="plan_to_watch"><input @change="handleFilterToggle" id="plan_to_watch" name="filter" type="checkbox" value="plan to watch">Plan to watch</label>
                              </li>
                              <li>
                                <label for="completed"><input @change="handleFilterToggle" id="completed" name="filter" type="checkbox" value="completed">Completed</label>
                              </li>
                              <li>
                                <label for="dropped"><input @change="handleFilterToggle" id="dropped" name="filter" type="checkbox" value="dropped">Dropped</label>
                              </li>
                           </ul>
                       </div>
                       <div class="shelf-wrapper">
                            <div class="shelf">
                               <div class="uk-width-small-1-2 uk-width-large-1-4 shelf-item" v-for="animeItem in visibleLibraryEntries">
                                   <library-entry :item="animeItem" :can-modify-library="isViewingOwnPage"></library-entry>
                               </div>
                            </div>
                            <div class="spacer">
                                <button class="uk-button load-entries-button" @click="loadMoreEntries"><i class="uk-icon-plus-circle"></i>Show More</button>
                            </div>
                       </div>
                   </li>
                   <li id="activity-feed">
                       <div v-for="item in feed">
                           <div>
                               <p v-show="item.status === 'watched episode'">
                                   {{ username }} finished watching episode {{ item.value }} of <a :href="'/show/' + item.id">{{ item.title }}</a>
                               </p>
                               <p v-show="item.status === 'plans to watch'">
                                   {{ username }} plans to watch <a :href="'/show/' + item.id">{{ item.title }}</a>
                               </p>
                               <p v-show="item.status === 'completed'">
                                   {{ username }} completed <a :href="'/show/' + item.id">{{ item.title }}</a>
                               </p>
                               <p v-show="item.status === 'paused watching'">
                                   {{ username }} has put <a :href="'/show/' + item.id">{{ item.title }}</a> on hold
                               </p>
                               <p v-show="item.status === 'dropped'">
                                   {{ username }} has dropped <a :href="'/show/' + item.id">{{ item.title }}</a>
                               </p>
                           </div>
                        </div>
                   </li>
                </ul>
            </div>
        </div>
        <%= @footer %>
        </div>
        <template type="text/x-template" id="record">
            <div class="card-wrapper">
                <div class="card">
                    <div class="card-image-container" v-bind:style="styleObject">
                    
                    </div>
                    <div class="bottom-card uk-clearfix" v-if="canModifyLibrary">
                        <div class="show-info-container">
                            <div class="status-tag">
                                <div v-if="item.status === 'completed'">
                                    <span class="show-status complete">{{ item.status }}</span>
                                </div>
                                <div v-if="item.status === 'dropped'">
                                    <span class="show-status dropped">{{ item.status }}</span>
                                </div>
                                <div v-if="item.status === 'on-hold'">
                                    <span class="show-status on-hold">{{ item.status }}</span>
                                </div>
                                <div v-if="item.status === 'plan to watch'">
                                    <span class="show-status plan-to-watch">{{ item.status }}</span>
                                </div>
                                <div v-if="item.status === 'watching'">
                                    <span class="show-status watching">{{ item.status }}</span>
                                </div>
                            </div>
                            <div class="show-title"><a href="/show/{{ item.id }}">{{ item.title }}</a></div>
                        </div>
                        <div class="voting-button-container">
                            <button class="uk-button thumb thumb-up" @click="ratePositive"><i class="uk-icon-thumbs-up" title="like"></i></button>
                            <button class="uk-button thumb thumb-neutral" @click="rateNeutral"><i class="uk-icon-thumbs-up" title="neutral"></i></button>
                            <button class="uk-button thumb thumb-down" @click="rateNegative"><i class="uk-icon-thumbs-down" title="dislike"></i></button>
                        </div>
                        <div class="uk-clearfix">
                            <div class="community-rating">
                                <div v-if="item.airingStatus === 'not yet aired'">
                                    <span><i class="uk-icon-star"></i></span>
                                </div>
                                <div v-else>
                                    <span>{{ Math.floor(item.rating / 10)  }}<i class="uk-icon-star"></i></span>
                                </div>
                            </div>
                            <div class="status-dropdown-container" style="position: relative" data-uk-dropdown="{mode: 'click'}">
                                <button class="uk-button dropdown-trigger-button">Change Status<i class="uk-icon-angle-down"></i></button>
                                <ul class="uk-dropdown entry-status" @click="hideDropdown">
                                    <li class="status-item" @click="updateStatus('watching')">Currently watching</li>
                                    <li class="status-item" @click="updateStatus('plan to watch')">Plan to watch</li>
                                    <li class="status-item" @click="updateStatus('completed')">Completed</li>
                                    <li class="status-item" @click="updateStatus('on-hold')">On hold</li>
                                    <li class="status-item" @click="updateStatus('dropped')">Dropped</li>
                                </ul>
                            </div>
                        </div>
                        <div class="entry-removal-controls">
                            <button class="uk-button remove-entry" @click="removeFromLibrary"><i class="uk-icon-trash">Remove</i></button>
                        </div>
                        <div class="uk-clearfix">
                            <div class="episodes-watched-container">
                                <button class="uk-button up-episode" @click="incrementEpisodesWatched"><i class="uk-icon-arrow-up" title="increase episodes watched"></i></button>
                                <button class="uk-button down-episode" @click="decrementEpisodesWatched"><i class="uk-icon-arrow-down" title="decrease episodes watched"></i></button>
                            </div>
                            <div class="watch-tally-container">
                                <span class="episodes-watched"><i class="uk-icon-eye"></i>{{ item.episodesWatched}}</span>    
                            </div>
                        </div>
                    </div>
                    <div class="bottom-card uk-clearfix" v-else>
                        <div class="show-info-container">
                            <div class="status-tag">
                                <div v-if="item.status === 'completed'">
                                    <span class="show-status complete">{{ item.status }}</span>
                                </div>
                                <div v-if="item.status === 'dropped'">
                                    <span class="show-status dropped">{{ item.status }}</span>
                                </div>
                                <div v-if="item.status === 'on-hold'">
                                    <span class="show-status on-hold">{{ item.status }}</span>
                                </div>
                                <div v-if="item.status === 'plan to watch'">
                                    <span class="show-status plan-to-watch">{{ item.status }}</span>
                                </div>
                                <div v-if="item.status === 'watching'">
                                    <span class="show-status watching">{{ item.status }}</span>
                                </div>
                            </div>
                            <div class="show-title"><a href="/show/{{ item.id }}">{{ item.title }}</a></div>
                        </div>
                        <div class="community-rating">
                            <div v-if="item.airingStatus === 'not yet aired'">
                                <span><i class="uk-icon-star"></i></span>
                            </div>
                            <div v-else>
                                <span>{{ Math.floor(item.rating / 10)  }}<i class="uk-icon-star"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </template>
        <script type="text/javascript" src="/js/vue-1.0.26.js"></script>
        <script type="text/javascript" src="/js/vue-resource-1.0.0.js"></script>
        <script type="text/javascript" src="/js/library.js" defer></script>
    </body>
</html>