<!DOCTYPE html>
<html>
    <head>
        <title>Library</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/uikit.css">
        <script type="text/javascript" src="/js/jquery-3.1.1.js"></script>
        <script type="text/javascript" src="/js/uikit.js"></script>
        <style>
            * {
                box-sizing: border-box;
            }
        </style>
    </head>
    <body id="body">
        <%= @header %>
        <section>
           <div id="activity-feed">
               <div v-for="item in feed">
                   <div v-show="item.substory_type === 'watchlist_status_update'">
                       <p v-show="item.new_status === 'currently-watching'">
                           You are currently watching <a :href="'/show/' + item.media.id">{{ item.media.title }}</a>
                       </p>
                       <p v-show="item.new_status === 'plan-to-watch'">
                           You plan to watch <a :href="'/show/' + item.media.id">{{ item.media.title }}</a>
                       </p>
                       <p v-show="item.new_status === 'completed'">
                           You have finished every episode of <a :href="'/show/' + item.media.id">{{ item.media.title }}</a>
                       </p>
                       <p v-show="item.new_status === 'on-hold'">
                           You have put watching <a :href="'/show/' + item.media.id">{{ item.media.title }}</a> on hold
                       </p>
                       <p v-show="item.new_status === 'dropped'">
                           You have dropped <a :href="'/show/' + item.media.id">{{ item.media.title }}</a>
                       </p>
                   </div>
                   <div v-show="item.substory_type === 'watched_episode'">
                       <p>You watched episode {{ item.episode_number }} of <a :href="'/show/' + item.media.id">{{ item.media.title}}</a></p>
                   </div>
                   <div v-show="item.substory_type === 'followed'">
                       <p>You are now following <a :href="item.followed_user.url">{{ item.followed_user.name}}</a></p>
                   </div>
                </div>
           </div> 
        </section>
        <%= @footer %>
        <script type="text/javascript" src="/js/vue-2.0.5.js"></script>
        <script type="text/javascript" src="/js/vue-resource-1.0.3.js"></script>
        <script type="text/javascript" src="/js/library.js" defer></script>
    </body>
</html>