<html>
    <head>
        <title>Login</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/uikit.css">
        <script type="text/javascript" src="/js/jquery-3.1.1.js"></script>
        <script type="text/javascript" src="/js/uikit.js"></script>
        <style>
            * {
              box-sizing: border-box;
            }
            
            section {
              background-image: url("http://stuffpoint.com/log-horizon/image/407288-log-horizon-log-horizon.jpg");
              background-size: cover;
              text-align: center;
              padding: 300px 0px;
            }
            
            form {
              display: inline-block;
              position: relative;
            }
            
            .uk-form legend:after {
              border: 0 none transparent;
            }
            
            input[type="submit"] {
              padding: 10px 40px;
            }
        </style>
    </head>
    <body id="body">
       <div class="uk-grid">    
           <%= @header %>
           <section class="uk-width-1-1">
           <form class="uk-form" method="post" action="/login">
               <fieldset>
                   <legend>Sign In</legend>
                   <div class="uk-form-row">
                     <a class="uk-button" href="https://anilist.co/api/auth/authorize?grant_type=authorization_code&client_id=stucaldor43-jcqyc&redirect_uri=http%3A%2F%2Fruby-sirius49.c9users.io%3A8081%2Flogin&response_type=code">
                       Sign in using Anilist
                     </a>
                   </div>
               </fieldset>
           </form>
           </section>
           <%= @footer %>
       </div>
    </body>
</html>