<html>
    <head>
        <title>Login - Anime Tracker</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/uikit.css">
        <script type="text/javascript" src="/js/jquery-3.1.1.js"></script>
        <script type="text/javascript" src="/js/uikit.js"></script>
        <style>
            * {
                box-sizing: border-box;
            }
            
            .uk-container {
                max-width: 1200px;
                padding: 0;
            }
            
            section {
                text-align: center;
            }
            
            .content {
                padding-top: 64px;
                min-height: 500px;
                background-color: rgba(219,249,245,.5);
            }
            
            form {
                position: relative;
                max-width: 500px;
                margin: 0 auto;
                padding: 32px 0;
            }
            
            .uk-form legend:after {
                border: 0 none transparent;
            }
            
            .sign-in-button {
                padding: 8px 16px;
                width: 80%;
                max-width: 400px;
                background-color: #000;
                color: #FFF;
                border-radius: 3px;
            }
            
            input[type="submit"] {
                padding: 10px 40px;
            }
        </style>
    </head>
    <body id="body">
       <div class="uk-container uk-container-center">    
           <%= @header %>
           <section class="uk-width-1-1 content">
               <div class="uk-width-small-4-5 uk-container-center">
                   <form class="uk-form" method="post" action="/login">
                       <fieldset>
                           <legend>User Login</legend>
                           <div class="uk-form-row">
                             <a class="uk-button sign-in-button" href="https://anilist.co/api/auth/authorize?grant_type=authorization_code&client_id=stucaldor43-jcqyc&redirect_uri=http%3A%2F%2Fruby-sirius49.c9users.io%3A8081%2Flogin&response_type=code">
                               Sign in using Anilist
                             </a>
                           </div>
                       </fieldset>
                   </form>
               </div>
           </section>
           <%= @footer %>
       </div>
    </body>
</html>